<div fxLayout="column" *ngIf="isLoading" style="margin: 16px" class="content">
  <div fxFlex="100%">
    <div
      style="display: flex;align-content: center;align-items: center;height: 100%;"
    >
      <mat-spinner style="margin: auto" [diameter]="50"></mat-spinner>
    </div>
  </div>
</div>

<div
  fxLayout.gt-md="row"
  fxLayout.lt-lg="column"
  *ngIf="!isLoading"
  style="margin-left: 8px"
>
  <div fxFlex="70%" class="overview-tab">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon class="ticket-icon" color="primary">assignment</mat-icon>
        </div>
        <mat-card-title>[{{ TT.category }}] - {{ TT.title }}</mat-card-title>
        <mat-card-subtitle>Severity: 5</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-tab-group>
      <mat-tab label="Overview">
        <div style="margin-top: 20px">
          <ckeditor
            [editor]="Editor"
            data="{{ TT.content }}"
            disabled="true"
            (ready)="onReady($event)"
          ></ckeditor>
        </div>
      </mat-tab>
      <mat-tab label="Conversation">
        <div style="margin-top: 20px">
          <ckeditor
            [editor]="Editor"
            (ready)="onReady($event)"
            class="eee"
            [(ngModel)]="messageText"
          ></ckeditor>
          <button
            mat-raised-button
            color="primary"
            class="converation-send"
            (click)="newMessage(TT._id)"
          >
            <span>SEND</span>
          </button>
          <p class="conversation-info" *ngIf="MM.length === 0">
            No replies yet
          </p>
          <mat-card *ngFor="let comment of MM">
            <mat-card-header>
              <img mat-card-avatar [src]="userData.picture" />
              <mat-card-title>{{ comment.createdBy }}</mat-card-title>
              <mat-card-subtitle> {{ JustGiveDate() }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <ckeditor
                [editor]="Editor"
                data="{{ comment.content }}"
                disabled="true"
                (ready)="onReady($event)"
                class="comment-editor"
              ></ckeditor>
            </mat-card-content>
          </mat-card>
          <!-- <mat-list class="app-class">
            <mat-list-item *ngFor="let comment of MM" class="comment-item">
              <img src="assets/jaxd.jpg" mat-list-icon>
              <b mat-line style="color: red">Andrzej Bronisławski</b>
              <p mat-line>09.09.2020 19:35 CET</p>
              <div mat-line>

              </div>
            </mat-list-item>
          </mat-list> -->
        </div>
      </mat-tab>
      <mat-tab label="Logs">
        <mat-list>
          <h3 mat-subheader>Logged Event for this TT</h3>
          <mat-list-item *ngFor="let log of LOG">
            <mat-icon mat-list-icon>label</mat-icon>
            <h4 mat-line>
              <b>{{ log.content }}</b>
            </h4>
            <p mat-line>Type: {{ log.log_type }}</p>
            <p mat-line>Created by: {{ log.ticket_id }}</p>
            <p mat-line>
              Date:
              {{
                DateConversion(log.creationDate) | date: "dd MM yyyy HH:mm:ss"
              }}
            </p>
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Information">
        <table>
          <tr>
            <th>Attribute</th>
            <th>Value</th>
          </tr>
          <tr>
            <td>ID</td>
            <td class="table-data-centered">{{ TT._id }}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td class="table-data-centered">
              {{ TT.status === true ? "ACTIVE" : "CLOSED" }}
            </td>
          </tr>
          <tr>
            <td>AssignedGroup</td>
            <td class="table-data-centered">{{ TT.assignedGroup }}</td>
          </tr>
          <tr>
            <td>EAN / ASIN / TC</td>
            <td class="table-data-centered">{{ TT.code }}</td>
          </tr>
          <tr>
            <td>Quantity</td>
            <td class="table-data-centered">{{ TT.quantity }}</td>
          </tr>
          <tr>
            <td>Location</td>
            <td class="table-data-centered">{{ TT.location }}</td>
          </tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </div>
  <mat-card fxFlex="30%">
    <mat-list>
      <h3 mat-subheader>Ticket Settings</h3>
      <mat-list-item>
        <button
          mat-raised-button
          color="primary"
          class="settings-button"
          (click)="TicketEdit('ja', 'Update', TT._id)"
        >
          <mat-icon>create</mat-icon>
          <span>UPDATE</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="primary" class="settings-button">
          <mat-icon>notifications</mat-icon>
          <span>SUBSCRIBE</span>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button
          mat-raised-button
          color="success"
          class="settings-button"
          (click)="CloseTicket(TT._id)"
          [disabled]="!TT.status"
        >
          <mat-icon style="color: green; font-weight: bold;">done</mat-icon>
          <span>CLOSE</span>
        </button>
      </mat-list-item>
      <mat-list-item
        class="tt-settings-list-top-margin"
        *ngIf="ttCreatorUserData"
      >
        <img mat-list-icon [src]="ttCreatorUserData.picture" />
        <h5 mat-line>{{ ttCreatorUserData.name }}</h5>
        <p mat-line>TT Creator</p>
      </mat-list-item>
      <mat-list-item *ngIf="!ttAsigneeUserData">
        <mat-icon mat-list-icon>person</mat-icon>
        <h5 mat-line>undefined</h5>
        <p mat-line>Asignee</p>
      </mat-list-item>
      <mat-list-item *ngIf="ttAsigneeUserData">
        <img mat-list-icon [src]="ttAsigneeUserData.picture" />
        <h5 mat-line>{{ ttAsigneeUserData.name }}</h5>
        <p mat-line>Asignee</p>
      </mat-list-item>
      <mat-list-item
        class="tt-settings-list-top-margin"
        *ngIf="ttCreatorUserData"
      >
        <button
          mat-raised-button
          color="primary"
          class="settings-button"
          [disabled]="
            userData.sub === ttCreatorUserData.userID ? 'true' : 'false'
          "
          *ngIf="ttCreatorUserData"
        >
          <mat-icon>assignment_ind</mat-icon>
          <span>ASSIGN YOURSELF TO THIS TICKET</span>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
