mat-icon.mat-card-avatar {
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.recent-tickets-link {
  cursor: pointer;
}

.recent-tickets-link:hover {
  border: 0.5px solid #3f51b5;
}

.HPOE {
  margin-right: 16px;
}
