<div fxLayout="column" *ngIf="!auth.loggedIn" style="margin: 16px" class="content">
  <div fxFlex="100%">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon color="warn">error</mat-icon>
        </div>
        <mat-card-title>Unable to load content of this page!</mat-card-title>
        <mat-card-subtitle>You are not authenticated!</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <button mat-raised-button (click)="auth.login()" color="primary">
              <mat-icon>exit_to_app</mat-icon>
              <span> In order to see tickets please log-in!</span>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="column" *ngIf="isLoading" style="margin: 16px" class="content">
  <div fxFlex="100%">
    <div style="display: flex;align-content: center;align-items: center;height: 100%;">
      <mat-spinner style="margin: auto" [diameter]="35"></mat-spinner>
    </div>
  </div>
</div>

<div fxLayout.gt-md="row" fxLayout.lt-lg="column" *ngIf="!isLoading" style="margin: 16px">
 <mat-card class="HPOE" fxFlex="50%" *ngIf="auth.loggedIn">
    <mat-list>
      <h3 mat-subheader>High Priority Ongoing Events</h3>
      <mat-list-item>
        <mat-icon mat-list-icon color="warn">note</mat-icon>
        <h4 mat-line>BBBBBBBB</h4>
        <p mat-line> BEBEBEBEBE</p>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card class="recent-tickets" fxFlex="50%" *ngIf="!isLoading && auth.loggedIn">
    <mat-list>
      <h3 mat-subheader>Recently Added Tickets</h3>
      <mat-list-item *ngFor="let ticket of ticketsArray" [routerLink]="['/ticket', ticket._id]" class="recent-tickets-link">
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>[{{ticket.category}}] {{ ticket.title }}</h4>
        <p mat-line> {{ ticket.code }} </p>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
