.TicketFormDialog .mat-dialog-container{
  height: 100%;
}

.ticketForm {
  width: 100%; margin: auto;
}

mat-form-field {
  width: 100%;
}

div .mat-dialog-container {
  max-height: unset;
  height: 100%;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 200px !important;
  border: 1px solid black;
}
