.HPOE-Ticket-Card, .daily-stats-card {
  margin: 20px 10px auto 10px;
  max-width: 50%;
  width: 99%;
}

.HPOE-Ticket {
  background-color: #FFCDD2;
  margin-top: 10px;
}

.global-card mat-card-subtitle {
  margin: 0;
  padding: 0;
}
