<mat-card class="HPOE-Ticket-Card">
  <mat-card-header>
    <mat-card-title>
      <b>Global High Priority Ongoing Events</b>
    </mat-card-title>
    <mat-card-subtitle>
      <i>Tickets with high severity</i>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card class="HPOE-Ticket">
      <mat-card-header>
        <img mat-card-avatar src="assets/jaxd.jpg">
        <mat-card-title><b>VPN Server DOWN</b></mat-card-title>
        <mat-card-subtitle>Andrzej Bronisławski</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="HPOE-Ticket">
      <mat-card-header>
        <img mat-card-avatar src="assets/jaxd.jpg">
        <mat-card-title><b>Delivery [1277578690] stuck at the border</b></mat-card-title>
        <mat-card-subtitle>Andrzej Bronisławski</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="HPOE-Ticket">
      <mat-card-header>
        <img mat-card-avatar src="assets/jaxd.jpg">
        <mat-card-title><b>KTW1 Main Server Active Directory Error</b></mat-card-title>
        <mat-card-subtitle>Andrzej Bronisławski</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-card-content>
</mat-card>

<mat-card class="daily-stats-card">
  <mat-card-header>
    <mat-card-title>
      <b>Statistics</b>
    </mat-card-title>
    <mat-card-subtitle>
      <i>Your daily performance</i>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Total Responses: <b style="color: green">0</b></p>
  </mat-card-content>
</mat-card>
